body, html {
    background-color: transparent !important;
    height: 100%; 
}
/* removes main white background of body, header*/
.at-inner {
    background-color: transparent !important;
    max-width: 800px;
}
.multistep-layout .HeaderHtml h1 {
    background-color: transparent !important;
}


/* text styling */
/** lv 1 **/
h1, header.at-title { /* form titles */
    color: #283351 !important;
    text-align: left !important; 
    font-family:"Alternate Gothic","Impact",sans-serif !important;
    font-size: 55px !important;
}
.at fieldset legend, .at-markup.HeaderHtml p strong { /* Contact Information and Opportunities Include */
    color: #283351 !important;
    font-family:"Sentinel Italic","Impact",sans-serif !important;
    font-size: 36px !important;
}
/** lv 2 **/
h2, h3 { /* subtitles */
    color: #283351 !important;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif !important;
    text-align: left !important; 
    font-size: 18px;
}
/** lv 3 **/
h4, p {
    color: #283351 !important;
    font-family:"Gotham Book","Trebuchet MS",sans-serif !important;
    text-align: left !important; 
    font-size: 15px;
    font-weight: normal;
}
ul {
    color: #283351 !important;
    font-size: 15px;
}
.at-markup.HeaderHtml ul li span { /* volunteer opportunities list */
    color: #283351 !important;
    font-family:"Gotham Book","Trebuchet MS",sans-serif !important;
    text-align: left !important; 
    font-size: 15px;
}
.at-markup.HeaderHtml p span { /* volunteer opportunities caption */
    color: #283351 !important;
    font-family:"Gotham Book","Trebuchet MS",sans-serif !important;
    text-align: left !important; 
    font-size: 15px;
}

/* form text */
.at-row>[class^="at-text"] { /* form input field titles */
    color: #283351;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-size: 18px;
  }
  .at-row>[class^="at-date"] {
    color: #283351;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-size: 18px;
  }
    .at-row>[class^="at-select"] { /* dropdown menu field title */
    color: #283351;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-size: 18px;
  }
  .at-markup.LegalDescription p, .at-markup.SmsLegalDisclaimer p, .at-markup.LegalHeaderHtml p { /* legal disclaimers */
    color: #283351 !important;
    font-family:"Sentinel Italic","Times New Roman",serif !important;
    font-size: 18px;
    font-style: italic;
  }
  .at-checkbox-title, .at-cover-costs-info, .at-check.authorize-payment-label{ /* checkbox text */
    color: #283351;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-size: 18px;
  }
.step-title{
    color: #283351 !important;
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    font-size: 15px;
}

  /* form inputs */
  .at select { /* dropdown menu placeholder text */
    color: #283351;
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    line-height: 200%;
    font-size: 15px;
    text-transform: uppercase;
  }
  .at option:disabled { /* dropdown menu placeholder text */
    color: #cbccd1;
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    line-height: 200%;
    font-size: 15px;
    text-transform: uppercase;
  }
  /* ui */
  .at label.error { /* errors */
    color: #d64000;
  }
  .at input[type="checkbox"]:checked+span:before { /* checkbox color */
    background-color: #38aae1;
    border-color: #38aae1;
  }
  .at .at-steps { /* navbar bg color */
    background: rgba(204, 205, 209, .2)
  }
  ol.at-steps.clearfix { /* 1, 2, 3 step circles */
    font-family:monospace;
    font-size: 18px;
  }
/* fonts */ 
@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamMediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: URL('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: URL('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alternate Gothic';
    src: URL('/fonts/alternate-gothic-no3-d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel Italic';
    src: URL('/fonts/Sentinel-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



