body, html {
    height: 100%;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  
  /* For width smaller than 400px: */
  body {
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: transparent;
    height: 100%; 
  }
  
  /* For width 400px and larger: */
  @media only screen and (min-width: 400px) {
    body {
     
      background-position: center; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      background-color: transparent;
      height: 100%;
    }
  }
    
  /* Styling the header for the logo section */
  header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 70px;
    background: #38aae1; 
    text-align: left;
  }
  
  header img {
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
  }
    
  /* This is for the headlines within the main white content section */
  h1 {
    color: #003d70;
    margin: 0;
    font-weight: 800;
    font-size: 4em; 
    font-variant: all-small-caps;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family:"Alternate Gothic","Impact",sans-serif;

  }

  h2, h3, h4 {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    color: #003d70;
    font-size: 1em;
  }

  strong {
    color: #003d70;
    margin: 0;
    font-weight: 800;
    font-size: 2em; 
    font-variant: all-small-caps;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family:"Alternate Gothic","Impact",sans-serif;
    line-height: 1;
    text-align: center;
  }

  ul {
    color: #283351;
    list-style: outside;
  }
  
  p {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    color: #283351;
    font-size: 1em;
  }
  
  /* This wraps our whole page's width and centers it */
  .container {
    max-width: 1000px;
    width: 94%;
    margin: 0 auto; 
  }

  
  /* Block is what I'm calling the white main section. */
  .block {
    border-left: 10px solid transparent; /* A thick border on the left side, change to your brand. */
    padding: 35px;
    margin-bottom: 100px;
    overflow: auto; 
    width: 74%;
    margin: 0 auto; 
    background-color: transparent;
  }
  
  /* Here's some styles related specifically to the NGP Form */
   
  header.at-title {
    font-family:"Alternate Gothic","Impact",sans-serif;
    color: #003d70; /* This is our campaign's dark blue for font color. Replace it with your HEX */
    background-color: transparent;
    text-align: center;
    font-size: 4em; 
    font-variant: all-small-caps;
    padding-top: 5px;
    padding-bottom: 10px;
    padding: inherit;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    line-height: 1;
    font-weight: 800;
  }
  
  header.at-markup {
    font-family:"Alternate Gothic","Impact",sans-serif;
    background-color: transparent;
    color: #38aae1; /* This is our campaign's blue for font color. Replace it with your HEX */
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    height: fit-content;
  }
  
  .at a {
    color: #38aae1;
  }
  
  .fastAction p{
    padding-top: 15px;
    color: #003d70;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  
  .at input[type="text"], .at input[type="password"], .at input[type="date"], .at input[type="datetime"], .at input[type="datetime-local"], .at input[type="month"], .at input[type="week"], .at input[type="email"], .at input[type="number"], .at input[type="search"], .at input[type="tel"], .at input[type="time"], .at input[type="url"], .at input[type="color"], .at textarea {
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    color: #003d70;
    font-weight: bold;
  }
  
  .at-row-full, .at-row-full>div:first-child {
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    background-color: transparent;
    color: #38aae1; /* This is our campaign's blue for font color. Replace it with your HEX */
    text-align: left;
    font-size: 20px;
    font-weight: bold;  
  }
  
  .at label {
    color: #003d70;
    font-size: 15px;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  .at fieldset legend {
    color: #003d70;
    font-family:"Alternate Gothic","Impact",sans-serif; /* Replace this with your desired font */
    font-weight: bold;
    font-size: 2em;
    font-variant: all-small-caps;
  }
  
  .at-row>[class^="at-text"] {
    color: #003d70;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-weight: bold;
    font-size: 30px;
    font-variant: all-small-caps;
  }
  
  .at-row>[class^="at-date"] {
    color: #283351;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-weight: bold;
    font-size: 30px;
    font-variant: all-small-caps;
  }
  
  .at-row>[class^="at-select"] {
    color: #003d70;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-weight: bold;
    font-size: 30px;
    font-variant: all-small-caps;
  }
  
  .at select {
    color: #003d70;
    font-size: 15px;
    font-weight: bold;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  
  /*Below Code is for Questions where you can select more than one option. -Alexander Hall*/
  .select2-container {
      display: block;
      margin-bottom: 1rem;
      width: auto !important;
      font-size: 15px!important;
  }
  
  .at-row {
    color: #003d70;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  

  .at-legal {
    color: #38aae1;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-variant: all-small-caps;
  }

  .at .checkbox-list-label {
    color: #38aae1;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-size: 30px;
    font-variant: all-small-caps;
  }
  
  .at-checkbox-title {
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    margin: auto;
    font-size: 24px;
    font-variant: all-small-caps;
  }
  .at input[type="checkbox"]:checked+span:before {
      background-color: #38aae1;
      border-color: #38aae1;
  }
  
  .at input[type="checkbox"]+span:before {
      height: 1.125rem;
      width: 1.125rem;
      background: transparent;
      border-radius: 5px;
      border: 1px solid #ced4da;
      color: #99d8f2;
      content: "";
      display: flex;
      left: 0;
      position: absolute;
      top: 2px;
  }
  
.at .btn-at-link{
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    margin: auto;
    font-variant: all-small-caps;
    font-size:24px;
    display: flex;
    margin-top: 5px;
  }

  .at-markup Header {
    color: #38aae1;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif; /* Replace this with your desired font */
    font-size: 30px;
    font-variant: all-small-caps;
  }
  
  .at-markup {
      margin-bottom: 30px;
  }
  
  .at input[type="text"] {
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  
  .at form .label-amount input[type=radio]:checked+a {
    border-color: #37b24d;
    background-color: #40c057;
}
.at form .label-amount>a {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    display: block;
    background-color: #a0e0ab;
    border-radius: 5px;
    height: 75%;
    z-index: -1;
}
  .at form .label-amount {
    width: 22%;
    height: auto;
    margin-right: 4%;
    float: left;
    color: #fff;
    font-size: 24px;
    background-image: none;
    padding: 8px;
    margin-bottom: 15px;
    line-height: 1.5;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}
  
  .at label.error {
      color: #ff4d00;
  }
  
  .at-form-submit {
      display: grid;
  }
  
  .at .btn-at-primary {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    background-color: #D64000 !important;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-variant: all-small-caps;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(40, 51, 81, .2);
    max-height: 55px;
    max-width: 50%;
    min-width: 200px;
    margin: auto;
  }
  .btn-at-primary:hover {
    background-color: #ff4d00 !important;
    box-shadow: 0px 0px 4px 1px rgba(40, 51, 81, .4);
  }
  
  /* The footer and fine print. Pretty straightforward: */
  
  footer.at-markup {
       background-color: transparent;
  } 
  
  a {
      background-color: transparent;
      color: #ffffff;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 70px;
    background: #38aae1; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1rem;
    font-weight: 800;
    margin: 0 auto;
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
  }
  
  footer ol {
    font-size: .9rem;
    font-weight: 400; 
  }
    
  footer .box-holder {
    display: block;
    text-align: center;
    margin-top: 30px; 
  }
    
  footer .box {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    padding: 10px;
    border: 1px solid white;
    font-size: .7rem;
    font-weight: 400;
    text-align: center; 
  }

  /** Fonts */ 
  @font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamMediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: URL('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: URL('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alternate Gothic';
    src: URL('/fonts/alternate-gothic-no3-d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel Italic';
    src: URL('/fonts/Sentinel-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



